<div class=" d-flex justify-content-between pt-3 wrapper-2">
        <h3>Comments</h3>
</div>

        <% @comments.each do |comment| %>
            <div class="list-group">
                <div class="list-group-item d-flex align-items-center justify-content-between pt-3 ">
                <p><%= comment.body %></p>
                <p><%= link_to article_comment_path(@article,comment.id), class:"methodBtn", method: :delete do%>
                    <button type="button" class="btn btn-close" aria-label="Close"></button>
                <% end %></p></div>
        <% end %>

<br>
<%= link_to 'Add Comment', new_article_comment_path(@article) %>
