<table>
    <th>Article Name<th>
    <th><%= link_to 'New Article', new_article_path %>
</table>


<% @articles.each do |article| %>

    <table>
        <%= article.name %>
        <%= link_to 'View', article_path(article.id) %>
    </table>

<% end %>

